{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    
    
    <section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
          class="img-fluid" alt="Phone image">
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
      <div align="center" class="5"><h4>Account Login</h4></div>

        {% if error %}
        <div align="center" class="p-3 text-danger text-center">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form action="{{ path('app_login') }}" method="post">
          <!-- Email input -->
          <div class="form-outline mb-4">
            <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control form-control-lg" />
            <label class="form-label" for="username">Email address</label>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-4">
            <input type="password" id="password" name="_password" class="form-control form-control-lg" />
            <label class="form-label" for="password">Password</label>
          </div>

          <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
          <input type="hidden" name="_target_path" value="/article" />
          <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>

        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}
